:root {
    --font-size: .875rem;
}

.home__information {
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    margin: .35rem 0 .35rem 0;
}

.home__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--font-size);
    color: #403A3A;
}

.home__link:hover {
    color: #0B0A0A;
}

a {
    text-decoration: none;
}

.home__icon {
    font-size: 1rem !important;
    margin-right: .25rem;
}